<div class="drawer-side z-4 border-r border-r-base-300">
    <label for="drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-100 min-h-full w-50 p-4">
        <!-- Sidebar content here -->
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" >
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="counter" Match="NavLinkMatch.All" >
                Counter
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="htmx-events" Match="NavLinkMatch.All" >
                HTMX Events
            </NavLink>
        </li>
    </ul>
</div>